<div class="container" style="margin-top: 20px">
  <form action="/search" method="post" id="search-form">
    <div class="form-group">

    <div class="input-group">
      <input class="form-control" type="text" name="term" placeholder="Enter search text">
      <div class="input-group-append">
        <button class="btn btn-outline-primary" type="submit">Submit</button>
      </div>
    </div>

    </div>
  </form>

  <% if (@movies.length > 0) %>
    <div style="margin-bottom: 12px">SHOWING FIRST <%= @movies.length %> RESULTS</div>
    
    <div class="row">
      <% @movies.each do |movie| %>
        <div class="col-md-3">
          <div class="card mb-3" style="width: 14rem;">
            <%= image_tag movie['Poster'], class: 'card-img-top', style: 'height: 18rem' %>
            <div class="card-body">
              <small class="card-subtitle mb-2 text-muted"><%= movie['Year'] %></small>
              <h6 class="card-title"><%= movie['Title'] %></h6>
              <%= link_to 'Details', movie_path(movie['imdbID']), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  
</div>
